.imagecontainer {
  position: relative !important;
  background-color: #f7f7f7;
  justify-content: center;
  align-items: center;
}

.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}
.cardheading {
  background-color: #404040;
  color: #d7b65d;
  border-bottom-left-radius: 10px;
  padding-left: 20px;
}
.heading {
  font-size: 20pt;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 10px;
  text-align: center;
}
