.icon{
    color: #D7B65D;
  }
  .css-6k8hsv-MuiButtonBase-root-MuiIconButton-root{
    color: #D7B65D !important;
  }
  
  .headerGrid {
    display: flex;
    gap: 0.5rem;
    justify-content:flex-end;
  }
  .header {
    width: 100%;
    background-color: #404040;
    font-size: 11px;
    color: #ffff;
  }