.para1 {
  font-size: 14pt;
  text-align: justify;
  top: 30px;
}
.para2 {
  font-size: 18pt;
  text-align: center;
  top: 30px;
  word-spacing: 0.1cap;
}
.imagecontainer {
  position: relative !important;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.image {
  width: 100% !important;
  position: relative !important;
  height: 400px !important;
  border-radius: 10px;
  object-fit: cover;
}
.wrapper {
  border-color: #d7b65d;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}
